@model Service

@{
    var site = DataRequestModel.SiteSetting;

    ViewData["Title"] = Model?.MetaTitle ?? "Hizmetlerimiz";
    ViewData["MetaDescription"] = Model?.MetaDescription ?? site?.MetaDescription ?? "Hizmetlerimiz";
    ViewData["MetaKeywords"] = Model?.Keywords ?? site?.Keywords ?? "Hizmetlerimiz";
}

  <!-- Main start -->
<main class="main">

    <!-- Breadcrumnd Banner -->
    <section class="breadcrumnd-banner position-relative">
        <div class="container">
            <div class="row g-5 justify-content-center">
                <div class="col-lg-7">
                    <div class="breadcrumnd-content text-center">
                        <h1 class="white mb-xxl-10 mb-xl-8 mb-6" data-aos="zoom-in-left" data-aos-duration="1800">
                            @Model.Title
                        </h1>
                        <ul class="breadcrumnd d-inline-flex align-items-center gap-2 pra-border radius100 py-xxl-3 py-2 px-xxl-4 px-4"
                            data-aos="zoom-in-right" data-aos-duration="2000">
                            <li>
                                <a asp-controller="Home" asp-action="Index" class="text-uppercase htheme">
                                    Anasayfa
                                </a>
                            </li>
                            <li>
                                <span class="rot60 d-inline-block">
                                    <i class="fas fa-arrow-up"></i>
                                </span>
                            </li>
                            <li class="theme-clr">
                                @Model.Title
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--Element-->
        <img src="@Url.Content("~/assets/img/element/cmn-dost.png")" alt="img" class="cmn-dots">

        <div class="cmn-svg-shape cmn-svg">
            <svg width="280" height="280" viewBox="0 0 211 211" fill="none"
                 xmlns="http://www.w3.org/2000/svg">

                <!-- Üst bar -->
                <rect x="80" y="18" width="51" height="18"
                      fill="url(#paint0_linear_6584_3026)" />

                <!-- Konuşma balonu -->
                <path d="M20 60 H191 V170 H105 L55 200 V170 H20 Z"
                      stroke="url(#paint0_linear_6584_3026)"
                      stroke-width="12"
                      fill="none" />

                <!-- Ortadaki halka -->
                <circle cx="105.5"
                        cy="118"
                        r="34"
                        stroke="url(#paint0_linear_6584_3026)"
                        stroke-width="14"
                        fill="none" />

                <defs>
                    <linearGradient id="paint0_linear_6584_3026"
                                    x1="416.867" y1="-216.267"
                                    x2="8.49998" y2="192.1"
                                    gradientUnits="userSpaceOnUse">
                        <stop offset="0" stop-color="#E3FF04" />
                        <stop offset="1" stop-color="#FF7425" stop-opacity="0" />
                    </linearGradient>
                </defs>
            </svg>


        </div>
    </section>
    <!-- Breadcrumnd Banner -->
    <!-- Service Details Start -->
    <section class="Service-details pt-space pb-space">
        <div class="container">
            <div class="service-details-header bb-border pb-xxl-9 pb-xl-7 pb-6">
                <div class="thumb w-100 mb-xxl-12 mb-xl-9 mb-sm-6 mb-5" data-aos="zoom-in" data-aos-duration="1500">
                    <img src="@Url.Content("~/assets/img/blog/project-slide2.jpg")" alt="img" class="w-100">

                </div>
                <h3 class="white-clr mb-xxl-9 mb-xl-7 mb-lg-6 mb-4" data-aos="zoom-in-left"
                    data-aos-duration="1600">
                   @Model.Title

                </h3>
      
            </div>
            @Html.Raw(Model.Description)

      
        </div>
    </section>
    <!-- Service Details End -->

</main>
<!-- Main End -->